Hello, I am Joe Wallis.</br>
</br>
I started programming when I was 13, this was mostly basic precepts such as data types and concatenation.
I then became board of it, and carried on with my boring life, but then came back, when I was 15.
This time I was better, and wanted to make a program that would do something, not just read a book.
This lead to me making a few menial small applications, that are terrible. But enjoying every moment of it.
This then lead to me becoming better, and making my first big program. This was my original YouTube Channel and playlist URL downloader.
Which at the time I thought was amazing! And would constantly use it to update my beats.
Then I became more self intuitive, and started thinking;</br>
'What do I want to make?'</br>
This kept being small applications to help me stretch my knowledge, learning about wave files, TCP sockets, JSON and much more.
But I had to use both the amazing <a href="http://docs.python.org/2/">Python docs</a> and friendly <a href="http://stackoverflow.com/">Stack Overflow</a>.</br>
</br>
Now at the age of 16, I have made a 'proper' API, for extracting data from a VPK file, and have updated my YouTube downloader to be much smaller, and faster.</br>
</br>
Also, I like a magnitude of music, but highly recommend, <a href="https://www.facebook.com/edmSpotlight">edmSpotlight</a>, <a href="https://www.facebook.com/edmStudiotv">edmStudio</a> and <a href="https://www.facebook.com/edmDistrict">edmDistrict</a>. A growing EDM group, that promote each other, and have allot of fast and happy music.