body{
	font-family: "Courier";
	font-size: 0.875em;
	margin: 20px auto 20px auto;
	width: 600px;
	background-color: #EFEFEF;
}
main{
	margin: 20px auto 10px auto;
}
header{
	text-align:center;
}
footer{
	font-size: 0.75em;
	color: #CDCDCD;
	text-align:center;
}
Peil{
	font-size: 2em;
}
a{
	color: inherit;
	text-decoration:none;
    border-bottom:1px solid;
}
a:hover{
	border-bottom:1px solid;
	color:red;
}
a:active{
	border-bottom:2px solid;
}
a.headText{
    border-bottom:none;
}
a:hover.headText{
	border-bottom:3px double;
	color:red;
}
a:active.headText{
	border-bottom:2px solid;
}
a:hover.moreButton{
	color:orange;
}
a:hover.moreButton.Show{
	border-bottom:2px solid;
}
a:active.moreButton.Show{
	border-bottom:3px double;
}
a:hover.moreButton.Hide{
	border-bottom:3px double;
}
a:active.moreButton.Hide{
	border-bottom:2px solid;
}
.moreButton{
    padding: 0px 2px 0px 2px;
    margin: 0px 0px 3px 0px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #fff;
	box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
}
.moreDiv{
    padding: 0px 2px 0px 2px;
    margin: 0px 0px 3px 0px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #fff;
	box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
}
func{
	color: #0000FF;
}
string{
	color: #00AA00;
}
keyword{
	color: #FF7700;
}
comment{
	color: #DD0000;
}